@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root{
  --primary-one:#495e57;
  --primary-two:#F4CE14;
  --secondary-1:#EE9972;
  --secondary-2:#FBDABB;
  --secondary-3:#EDEFEE;
  --secondary-4:#333333;
}

a{
  color: #333333;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Karla', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--secondary-4);
  font-size: 16px;
  background: #fff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a{
  padding: 1rem;
  font-weight: bold;
}

.btn-action{
  background-color: var(--primary-two);
}

section.jumbotron{
  background-color: var(--primary-one);
}
.jumbotron .col{color: var(--secondary-3);}

.jumbotron .col h1{color: var(--primary-two);}

.jumbotron img{
  position: absolute;
  max-width: 300px;
  max-height: 300px;
   left:30%; 
}

 .week-special-section{
  margin-top: 7rem;
}

.card-price{
  color:var(--secondary-1)
}
.card-body{
  background-color: var(--secondary-3);
}
section.about .col.position-relative div{
  max-height:300px ;
  max-width: 300px;
}
section.about .position-absolute{
  top:1rem;
  left: 10rem;
} 